<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MBXAccessToken</key>
	<string>pk.eyJ1IjoicGhpbHBvMjEiLCJhIjoiY21uejY4dzQ0MGJwaDJvc2hyMm5weHNkeSJ9.84UqJSpqKxjmQ9xvannrHQ</string>
	<key>SupabaseAnonKey</key>
	<string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InF1amt6cndyaHJxZWpzcXVsb2h5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI5OTQzMDYsImV4cCI6MjA4ODU3MDMwNn0.mdB8rjht5QtGcYmeEbNmYDlXLdsHcH9jzxmTOi4S28E</string>
	<key>SupabaseURL</key>
	<string>https://qujkzrwrhrqejsqulohy.supabase.co</string>
	<key>UIAppFonts</key>
	<array>
		<string>CabinetGrotesk-Bold.otf</string>
		<string>Satoshi-Regular.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
</dict>
</plist>
